body {
    background-color: rgb(214, 159, 202);
    color: rgb(66, 9, 54);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    margin: 0 100px 5px 100px;
    font-size: 38px;
}
.contenedor-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
    color: rgb(66, 9, 54);
    background-color: rgb(214, 159, 202);
    border: solid 4px rgb(66, 9, 54);
    border-radius: 10px;
    padding: 15px;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}
[type="button"]:hover {
    cursor: pointer;
    background-color: rgb(66, 9, 54);
    color: rgb(214, 159, 202);
    transition-duration: 300ms;
}

label {
    font-weight: bold;
    display: block;
    font-size: 25px;
}
input {
    margin-bottom: 7px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(66, 9, 54);
    background-color: rgb(214, 159, 202);
    border: solid 4px rgb(66, 9, 54);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
input:hover {
    cursor: pointer;
    background-color: rgb(66, 9, 54);
    color: rgb(214, 159, 202);
    transition-duration: 300ms;
}
input[type="date"]:hover::-webkit-calendar-picker-indicator {
    color: rgb(214, 159, 202);
}


p {
    font-size: 15px;
    color: rgb(66, 9, 54);
    background-color: rgb(214, 159, 202);
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 0px;
}
#texto {
    color: rgb(214, 159, 202);
    border: solid 2px rgb(66, 9, 54);
    background-color: rgb(66, 9, 54);
    border-radius: 12px;
    width: 45%;
    margin-left: 30%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    margin: auto;
}
